@model MVC.Models.Planets

@{
    ViewBag.Title = "Planets";
}

<h2>@ViewBag.Title</h2>


<div class="row" style="text-align:right;padding:5px">
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Gravity</th>
                <th>Rotation Period</th>
                <th></th>
            </tr>
            @{
                var list = Model.results;
                foreach (var planets in list)
                {
                    <tr>
                        <td>@planets.name</td>
                        <td>@planets.gravity</td>
                        <td>@planets.rotation_period\</td>

                    </tr>
                }
                int i = ViewBag.page;
                i++;
                
            }

        </table>
        @*<p>@Model.next</p>
        <a class="btn btn-primary pull-right" href="~/Planets_SW/ListPlanets_SW/@i">next page</a>
        <a class="btn btn-primary pull-left"  href="~/Planets_SW/ListPlanets_SW/@i">previous page</a>*@
        <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div>
</div>
